<section class="section-service tf-spacing-1">
    <div class="tf-container">
        <div class="row">
            <div class="col-12">
                <div class="wrap-heading">
                    <div class="heading-section text-start wow fadeInUp" data-wow-duration="1000">
                        <p class="text-2 sub wow fadeInUp" data-wow-duration="1000">What We Do</p>
                        <h3 class="wow fadeInUp" data-wow-duration="1000">Counseling & Therapy Services</h3>
                        <p class="description text-1 lh-30 wow fadeInUp" data-wow-duration="1000">
                            We offer a wide range of services to meet your personal needs.
                        </p>
                    </div>
                    <a class="tf-btn style-default btn-color-white has-boder pd-26 wow fadeInUp" 
                       data-wow-duration="1000" href="#">
                        <span>Explore Our Services</span>
                    </a>
                </div>
                <div class="grid-layout-3 multi-item">

                    <!-- Individual Counseling -->
                    <div class="service-item style-2 h-280 wow fadeInUp" data-wow-duration="1000">
                        <div class="image-wrap">
                            <img class="lazyload" data-src="images/section/service-item-1.jpg"
                                 src="images/section/service-item-1.jpg" alt="">
                        </div>
                        <div class="content z-5">
                            <h5 class="title">
                                <a href="service-details.html">Individual Counseling</a>
                            </h5>
                            <p>Personal psychological support to help you overcome stress, anxiety, and regain confidence.</p>
                            <a href="service-details.html" class="tf-btn style-default">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Couple Relationship Healing -->
                    <div class="service-item style-2 h-280 wow fadeInUp" data-wow-duration="1000">
                        <div class="image-wrap">
                            <img class="lazyload" data-src="images/section/service-item-2.jpg"
                                 src="images/section/service-item-2.jpg" alt="">
                        </div>
                        <div class="content z-5">
                            <h5 class="title">
                                <a href="service-details.html">Couple Relationship Healing</a>
                            </h5>
                            <p>Improve emotional connection and resolve conflicts in relationships to build a stronger bond.</p>
                            <a href="service-details.html" class="tf-btn style-default">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Family Relationship Healing -->
                    <div class="service-item style-2 h-280 wow fadeInUp" data-wow-duration="1000">
                        <div class="image-wrap">
                            <img class="lazyload" data-src="images/section/service-item-3.jpg"
                                 src="images/section/service-item-3.jpg" alt="">
                        </div>
                        <div class="content z-5">
                            <h5 class="title">
                                <a href="service-details.html">Family Relationship Healing</a>
                            </h5>
                            <p>Resolve family disputes and strengthen relationships with guided therapy sessions.</p>
                            <a href="service-details.html" class="tf-btn style-default">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Forgiveness Healing -->
                    <div class="service-item style-2 h-280 wow fadeInUp" data-wow-duration="1000">
                        <div class="image-wrap">
                            <img class="lazyload" data-src="images/section/service-item-4.jpg"
                                 src="images/section/service-item-4.jpg" alt="">
                        </div>
                        <div class="content z-5">
                            <h5 class="title">
                                <a href="service-details.html">Forgiveness Healing</a>
                            </h5>
                            <p>Learn to let go of resentment and embrace a journey toward emotional freedom.</p>
                            <a href="service-details.html" class="tf-btn style-default">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Business Healing -->
                    <div class="service-item style-2 h-280 wow fadeInUp" data-wow-duration="1000">
                        <div class="image-wrap">
                            <img class="lazyload" data-src="images/section/service-item-5.jpg"
                                 src="images/section/service-item-5.jpg" alt="">
                        </div>
                        <div class="content z-5">
                            <h5 class="title">
                                <a href="service-details.html">Business Healing</a>
                            </h5>
                            <p>Resolve workplace conflicts and improve teamwork for a healthier business environment.</p>
                            <a href="service-details.html" class="tf-btn style-default">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>

                    <!-- House Healing -->
                    <div class="service-item style-2 h-280 wow fadeInUp" data-wow-duration="1000">
                        <div class="image-wrap">
                            <img class="lazyload" data-src="images/section/service-item-6.jpg"
                                 src="images/section/service-item-6.jpg" alt="">
                        </div>
                        <div class="content z-5">
                            <h5 class="title">
                                <a href="service-details.html">House Healing</a>
                            </h5>
                            <p>Restore peace and positive energy in your home environment through holistic techniques.</p>
                            <a href="service-details.html" class="tf-btn style-default">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>

                    <!-- Soul Healing -->
                    <div class="service-item style-2 h-280 wow fadeInUp" data-wow-duration="1000">
                        <div class="image-wrap">
                            <img class="lazyload" data-src="images/section/service-item-7.jpg"
                                 src="images/section/service-item-7.jpg" alt="">
                        </div>
                        <div class="content z-5">
                            <h5 class="title">
                                <a href="service-details.html">Soul Healing</a>
                            </h5>
                            <p>Achieve emotional balance and inner peace through deep spiritual healing practices.</p>
                            <a href="service-details.html" class="tf-btn style-default">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> <!-- /.section-service -->
